# eclipse
*.bin
*.lock
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
*.bin
*.lock
*.xml

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
